.af_subtitle:before {
	left: 3px;
	right: auto;
}
.af_filter label {
	text-align: right;
}
.af_filter .name {
	padding-left: 0;
	padding-right: 5px;
}
.af_filter .count {
	margin-left: 0;
	margin-right: auto;
}
.selectedFilters .clearAll {
	text-align: left;
}
.selectedFilters .cf {
	padding: 7px 5px 7px 25px;
}
.selectedFilters .cf a {
	left: 7px;
	right: auto;
}
.selectedFilters.inline {
	text-align: right;
}
.selectedFilters.inline .clearAll {
	float: left;
}
.af-parent-category > ul {
	margin: 0 15px 0 0;
}
.compact-toggle-text {
	letter-spacing: 0;
	font-size: 1.3em;
}
.has-slider .af_filter_content,
.has-slider .slider_value {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}
/* since 3.1.9 */
