.bp-desktop-only { display: block !important; }
.bp-mobile-only { display: none !important; }

@media (max-width: 1024px) {
  .bp-desktop-only { display: none !important; }
  .bp-mobile-only { display: block !important; }
}

@media (min-width: 1025px) {
  .bp-desktop-only { display: block !important; }
  .bp-mobile-only { display: none !important; }
}




@media (max-width: 1024px) {

    #header-container {
    position: relative;
  }

#header-container .header-right-col.header-menue-col {

    width: 100% !important;
    float: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }


#header-container .header-top #search-row {

    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: visible;
  }

#header-container .header-top #search-row #mobile_top_menu_wrapper {

    display: none !important;
  }


  #header-container #menue-row {
    padding: 0;
  }

  #header-container #menue-row .ets_mm_megamenu {
    padding: 0;
    margin: 0;
  }



#header-container #mobile-header-block {

    display: block;
  }

#header-container .header-logo-col {


    display: none !important;
  }

#header-container .header-nav {


    display: none !important;
  }

#header-container .header-top-right::after {


    display: none !important;
  }

#header-container .header-top-right #_desktop_cart {


    display: none !important;
  }

#header-container .header-top-right .header-free-shipping {


    display: none !important;
  }



#header-container .Sticky-header-icone {


    display: none !important;
  }


#header-container .header-top .header-top-right {

    padding: 0;
  }

#header-container .header-top #search_widget {

  padding: 5px;
  margin: 0;
  position: absolute;
  top: 50px;
  left: 5%;
  width: 90%;
  z-index: 1002;
}


#header-container #menue-row,
#header-container #menue-row .ets_mm_megamenu {

  position: relative;
  z-index: 100;
}


#header-container .header-top #search_widget .ui-autocomplete-input {


    border: 2px solid #d5d7d9;
    background-color: #ffffff;
    border-radius: 0px;
  }


  #search_widget {
    display: none;
  }

  #search_widget.search-opened {
    display: block!important;
  }



  .close-search-widget {
    position: absolute;
    /* stays in place on screen */
    top: 12px;
    /* distance from top of window */
    right: 10px;
    /* distance from right of window */
    font-size: 24px;
    /* size of the "×" */
    font-weight: bold;
    line-height: 1;
    padding: 4px 10px;
    /* clickable area */
    cursor: pointer;
    z-index: 999999;
    /* on top of other elements */

    background: #ffffff;
    /* adjust to theme */
    border-radius: 4px;
    color: #333333;
    /* X color */
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  }



  #header #header-container #header-search-icon {

    display: none;

  }

  
  #header #header-container #header-favorites-icon {

    display: none;

  }



#header #header-container #header-favorites-icon.customer-logged-in {
        background-position: -87px -226px;

  }



  
  #header #header-container #header-cart-icon {
    display: none;
  }

    #header #header-container #header-mini-logo {
    display: none;

  }








}

.ets_mm_megamenu {
  text-transform: capitalize;
}


.ets_mm_block .h4
{
      text-transform: capitalize!important;

}
/// .ets_mm_block > .h4 




@media (min-width: 1025px) {
#header #header-container .mm_menus_ul .mm_menus_li {

background: #E9EAEC;

    }

#header #header-container .mm_menus_ul {

background: none;

    }
    
#header #header-container.is-sticky .mm_menus_ul {

background: #E9EAEC!important;

    }
  }













///////////
.mm_menu_content_title {
  min-height: 50px;
}

.hook-default .ets_mm_megamenu_content .container {
  padding: 0;
}


